:root {
  --color-primary-light: rgb(146, 217, 250);
  --color-primary: rgb(58, 182, 240);
  --color-primary-dark: rgb(46, 152, 201);
  /* --color-secondary: rgb(232, 255, 142); */
  /* --color-secondary-dark: rgb(221, 252, 97); */
  --color-secondary: #6c757d;
  --color-secondary-dark: #5a6268;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans;
}

section {
  padding: 50px;
}


/* GLOBAL STYLES */
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-cta-button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  color: white;
  transition: all .2s;
}

.primary-cta-button:hover {
  background-color: var(--color-primary-dark);
  color: white;
  text-decoration: none;
}

.primary-cta-button:active, .primary-cta-button:visited {
  outline: none;
}

.secondary-cta-button {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 4px;
  padding: 15px 20px;
  color: white;
  transition: all .2s;
}

.secondary-cta-button:hover {
  background-color: var(--color-secondary-dark);
  color: white;
  text-decoration: none;
}

.secondary-cta-button:active, .secondary-cta-button:visited {
  outline: none;
}

.ghost-cta-button {
  background-color: transparent;
  color: #555;
  border: 2px solid #555;
  border-radius: 4px;
  padding: 15px 20px;
  transition: all .2s;
}

.ghost-cta-button:hover {
  background-color: #555;
  color: white;
  text-decoration: none;
}

.ghost-cta-button:active, .ghost-cta-button:visited {
  outline: none;
}

.f-20 {
  font-size: 20px;
}

.f-25 {
  font-size: 25px;
}

.f-50 {
  font-size: 50px;
}

.f-65 {
  font-size: 65px;
}


/* NAVBAR STYLES */
.navbar-logo {
  width: 400px;
}
